/* MedievalSharp font */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cinzel:wght@600&family=MedievalSharp&family=Oswald:wght@300;400&family=Rubik+Doodle+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cinzel:wght@600&family=Cormorant+Garamond:wght@600&family=MedievalSharp&family=Oswald:wght@300;400&family=Rubik+Doodle+Shadow&display=swap');

* {
  overflow: hidden;
  font-family: Cormorant Garamond, sans-serif;
}

body {
  background-image: url('./assets/craiyon_170439_metroid_game_2d_background_realistic_high_resolution_stone_tiles.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.draggable {
  width: 15%;
  height: 30%;
  /* background-color: #29e; */
  /* color: white; */
  /* border-radius: 0.5em; */
  touch-action: none;
  user-select: none;
  box-shadow: 5px 5px 15px 5px rgb(85, 85, 85);
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
  background-image: url('./assets/—Pngtree—parchment_2332809.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: rgb(174, 69, 69); 
}

#homepage-container {
  overflow-y: hidden;
  height: 98vh;
  display: grid;
  grid-template-columns: 0.33fr 1fr;
  grid-template-rows: 0.05fr 0.02fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    'nav-bar nav-bar'
    'task-list status'
    'task-list board';
}

.nav-bar {
  grid-area: nav-bar;
  display: flex;
  height: 50px;
}

#progress-bar-container {
  width: 66.1rem;
  height: 40px;
  border: 4px solid black
}

#title {
  flex: 0 0 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: white;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.7);
  padding-left: 50px;
}

#options {
  flex: 0 0 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/Gear-icon.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#progress-container {
  display: flex;
  justify-content: center;
  grid-area: progress;
  border: 2px solid black;
}

#status-bar {
  grid-area: status;
  height: 20px;
  background-color: mediumspringgreen;
  border: 2px solid black;
}

#task-list-container {
  grid-area: task-list;
  border: 2px solid black;
  padding: none; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/—Pngtree—parchment_2332809.png');
  background-position: center;
  background-repeat: no-repeat;
}

#quest-list {
  padding: 0;
}

#board-container {
  position: relative;
  display: flex;
  grid-area: board;
  border: 2px solid rgb(86, 86, 86);
  border-radius: 15px;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('./assets/umlaut42_wooden_framed_blank_fantasy_quest_board_wooden_frame_s_ad8c856b-9c0a-48ae-8d96-985e3b6a1b2e.png');
  background-position: center;
  background-repeat: no-repeat;
}


/* #board-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
}
 */

/* .task-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 50%;
  border: solid 3px green;
  z-index: 2;
  position: absolute;
  align-self: center;
  background-color: white;
} */

.task-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  width: 60%; /* Adjust as needed */
  height: 60%; /* Adjust as needed */
  border: 3px solid green;
  background-color: white;
  padding: 20px;
  z-index: 2; /* Ensure it's on top of other components */
  overflow: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

/* .desc-input{
  height: 50%;
  width: 50%;
  margin: 5px;
} */

.desc-input {
  width: 90%;
  min-height: 80px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}



.task-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 5px;
  font-size: 22px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: rgb(174, 69, 69);
  padding: none;
  overflow: visible;
  /* cursor: 'pointer' */
}

.task-list-item :hover {
  cursor: 'pointer';
}

#task {
  margin: 0;
}

span {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
}

#add-quest {
  font-size: 16px;
  background-color: bisque;
  border-radius: 10%;
  width: 60%;
  height: 5%;
  margin-top: 20px;
  margin-bottom: 30px;
}

textarea {
  resize: none;
  background-color: bisque;
  width: 100%
}

#quest-list {
  margin-bottom: auto;
  width: 100%;
  overflow: visible;
}

textarea{
  width: 80%;

}

